#heading-of-balls
{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}


#Form-of-balls
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

#ball-label,#row-label
{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 20px 10px;
}

#row-input,#col-input
{
    height: 40px;
    width : 250px;
    padding: 5px 8px;
    border-radius: 50px;
    border: 2px solid black;
    outline: none;
}

#row-input:focus
{
    outline: none;
}

#col-input
{
    outline: none;
}

#submit-btn
{
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 100px;
    margin: 30px 80px;
}

#refresh-btn
{
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 100px;
    margin: 10px 80px 30px 80px; 
}

.balls
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: -3px -1px;
}

.row
{
    display: flex;
}

#red
{
    background: red;
}

.marginLeftPresent
{
    padding-left: 24px!important;
}
